---
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import FormattedDate from "@/components/FormattedDate.astro";
import { getCurrentPosts, BlogPost } from "@/plugins/utils";
import Disqus from "@/components/Disqus.astro";
import { astroI18n, l } from "astro-i18n";
astroI18n.init(Astro);

export async function getStaticPaths() {
  const posts = await getCurrentPosts();
  return posts.map((post) => ({
    params: { slug: post.slugWithoutLocale },
    props: post,
  }));
}
type Props = BlogPost;

const post = Astro.props;
const { Content } = await post.render();
---

<DefaultLayout
  htmlTitle={post.data.title}
  htmlDescription={post.data.description}
>
  <div class="page-blog-post pt-14">
    <div class="post-header">
      <div class="post-title prose">
        <h1>{post.data.title}</h1>
      </div>
      <div class="post-meta mt-5">
        <small><FormattedDate date={post.data.date} /></small>
      </div>
    </div>
    <div class="post-body mt-8 text-gray-600">
      <div class="post-content prose">
        <Content />
      </div>
    </div>
    <div class="post-footer">
      {
        post.data.tags?.length > 0 && (
          <div class="post-tags mt-4">
            {post.data.tags.map((tag) => (
              <a
                class="post-tag mr-2 text-xs inline-flex items-center leading-sm px-3 py-1 rounded-md bg-white text-gray-700 border"
                href={l(`/tag/${tag}`)}
              >
                {tag}
              </a>
            ))}
          </div>
        )
      }
    </div>
    <div class="post-comments mt-10">
      <Disqus />
    </div>
  </div>
</DefaultLayout>

<style>
  .page-blog-post .prose {
    max-width: 800px;
  }
</style>
